{% extends 'base.html' %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}
<h1>{{ video.title }}</h1>
<video controls preload="auto" data-setup="{}">
    <source src="{{ video.file.url }}" type="video/mp4">
    <h1>in video</h1>
    {% for subtitle in subtitles %}
        <track src="/media/videos/AMC.vtt" kind="subtitles" srclang="{{ subtitle.language }}" label="{{ subtitle.language }}" default>
    Your browser does not support the video tag.
    {% endfor %}
</video>
{% endblock %}